@import url('../assets/fonts/stylesheet.css');

//Colors

$mainColor: #eb6608;
$secColor: #B85006;

//Fontes

$Gotham: 'Gotham';
$PNLight: 'Proxima Nova Lt';
$PNRegular: 'Proxima Nova Rg';
$PNBlack: 'Proxima Nova Bl';